@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-gradient-circle {
  background: radial-gradient(circle at center, #E6F7EF 0%, rgba(255,255,255,0) 70%);
}

.green-cursor {
  position: fixed;
  left: 0;
  top: 0;

  width: 140px;
  height: 140px;

  pointer-events: none;
  z-index: 9999;

  /* INI KUNCI → cursor tepat di tengah */
  transform: translate(-50%, -50%);

  border-radius: 50%;

  background: radial-gradient(
    circle,
    rgba(51, 183, 126, 0.28) 0%,
    rgba(51, 183, 126, 0.2) 25%,
    rgba(51, 183, 126, 0.12) 45%,
    rgba(51, 183, 126, 0.06) 60%,
    transparent 70%
  );

  filter: blur(8px);
}

.custom-bullet {
  width: 10px;
  height: 10px;
  background: #cfeee0;
  opacity: 1;
  margin: 0 6px !important;
}

.custom-bullet-active {
  background: #33b77e;
  width: 12px;
  height: 12px;
}

