/* Start SLideShowSection */
/* Swiper Pagination Custom Styles */
.custom-bullet {
  width: 12px;
  height: 12px;
  background: #33B77E;
  opacity: 0.4;
  border-radius: 50%;
  margin: 0 6px !important;
  cursor: pointer;
  transition: all 0.3s ease;
  display: inline-block;
}

.custom-bullet-active {
  background: #33B77E;
  opacity: 1;
  width: 12px;
  height: 12px;
}

.swiper-pagination {
  bottom: 0px !important;
  position: relative !important;
  margin-top: 20px !important;
}

.swiper-pagination-bullets {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  gap: 4px;
}
/* End SLideShowSection */